body {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.title { 
    font-family: 'Science Gothic';
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 2em;
}

.header {
    padding-top: 1vh;
    padding-left: 1vw;
    font-size: 20px;
    background-color:#5f5f5f
}

.header-nav-item {
    font-size: 20px;
    border-radius: 0;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.header-nav-item:hover {
    border-bottom: 5px solid #ffcc00;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.icon {
    width: 24px;
    height: 24px;
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
    object-position: top left;
}

.card {
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    border: 1px solid #ffcc00;
    transform: scale(1.05);
}

.project-tech-details {
    font-size: 1.2rem;
}

.project-content {
    font-size: 1rem;
    background-color: #303030;
    border-radius: 1rem;
    padding: 1rem;
}

#project-content p {
    max-width: 70rem;
    
}