<div class="portfolio">
    <div class="card-container d-flex flex-row flex-wrap justify-content-start gap-4">
        <div class="card" style="width: 18rem; margin-bottom: 20px;" onclick="location.href='/portfolio/TeamsChatExporter'">
            <img src="{{ url_for('static', filename='images/TeamChatExporter/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Teams Chat Exporter</h5>
                <p class="card-text">Web application to allow end users to export chat logs from Microsoft Teams.</p>
                <span class="badge badge-pill bg-secondary">November 2025</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/TerritoryMap/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Territory Map</h5>
                <p class="card-text">Web application for end users to visualize territory boundaries and related data.</p>
                <span class="badge badge-pill bg-secondary">October 2025</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/StatusChangeApp/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Status Change App</h5>
                <p class="card-text">Full stack application for admins to overview upcoming employee status changes.</p>
                <span class="badge badge-pill bg-secondary">July 2025</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/MDMDeviceMap/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">MDM Device Map</h5>
                <p class="card-text">Web application to display MDM devices on a map.</p>
                <span class="badge badge-pill bg-secondary">April 2025</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/HRISSyncScripts/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">HRIS Sync Scripts</h5>
                <p class="card-text">Set of scripts to integrate HRIS data with other systems.</p>
                <span class="badge badge-pill bg-secondary">November 2024</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/HRISSyncScripts/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Onboarding Automation Scripts</h5>
                <p class="card-text">Set of scripts to automate employee setup in multiple systems.</p>
                <span class="badge badge-pill bg-secondary">May 2023</span>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/HRISSyncScripts/CardImg.png') }}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">Common IT Scripts</h5>
                <p class="card-text">Set of scripts to automate common IT tasks.</p>
                <span class="badge badge-pill bg-secondary">February 2022</span>
            </div>
        </div>
    </div>

</div>