<div class="project-content">
    <div class="content-header d-flex flex-row justify-content-between">
        <h1>
            Project Title
        </h1>
        <div class="project-tech-details">
            Languages/Technologies: 
            <div class="badge bg-success d-inline-block ms-2">Language</div>
            <div class="badge bg-secondary d-inline-block ms-2">Tech 1</div>
            <div class="badge bg-secondary d-inline-block ms-2">Tech 2</div>
            <div class="badge bg-secondary d-inline-block ms-2">Tech 3</div>
        </div>
    </div>

    <hr>

    <div id="project-content">
        <h3>
            Problem Statement
        </h3>
        <p>
            Describe the problem that this project aims to solve.
        </p>

        <h3>
            Project Description
        </h3>
        <p>
            Detailed description of the project, its purpose, features, and any other relevant information.
        </p>

        <h3>
            Screenshots
        </h3>
        <div>
            
        </div>
    </div>

</div>